@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&family=Tilt+Neon&display=swap');

:root{
    --police-neon: 'Tilt Neon', sans serif;
    --police-Noto: 'Noto sans', sans serif;
    --police-pixel: 'Press Start 2P', sans serif;
    --color-main: #E1C4FF;
    --color-shadow: #8C1EFF; 
}

body{
    box-sizing: border-box;
    background-color: #0D0126;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* <================ HEADER ================> */

header{
    width: 200%;
    box-shadow: 0px 19px 50px -40px white;
    display: flex;
    justify-content: center;
    position : fixed;
    background-image: url(../../Images/ligne-perspective.png);
    background-color: #0D0126;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 100%;
}   
.navigation{
    height: 150px;
    width: 50%;
    max-width: 60em;
    display: flex;
    align-items: center;
}
.logo-coderez-nav{
    width: 20em;
    height: 5em;
    cursor: pointer;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    list-style: none;
    display: flex;
    width: 100%;
    font-size: 1.6em;
    display: flex;
    justify-content: space-around;
}
nav li{
    font-family: var(--police-neon);
    border: 0.1em solid var(--color-main);
    border-radius: 0.5em;
    padding: 0.3em;
}
nav li:hover{
    text-shadow: 0 0 1em var(--color-shadow);
    box-shadow: inset 0px 0px 10px 1px var(--color-shadow),
    0px 0px 20px 1px var(--color-shadow);
}
a{
    text-decoration: none;
    color: var(--color-main);
}

/* <================ MAIN ================> */
/* <=============== ACCUEIL ==============> */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.accueil{
    width: 100%;
    height: 900px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../Images/synthwave-wallpaper.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
h1, h2{
    color: var(--color-main);
    display: flex;
    justify-content: center;
    font-family: var(--police-neon);
    font-size: 2.5em;
    border: 0.1em solid var(--color-main);
    border-radius: 0.5em;
    padding: 0.2em;
    /* text-shadow: 0 0 1em var(--color-shadow);
    box-shadow: inset 0px 0px 10px 5px var(--color-shadow),
    0px 0px 30px 10px var(--color-shadow); */
}
.accueil p{
    max-width: 60em;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--police-Noto);
    line-height: 1.5em;
    font-size: 1.3em;
    text-align: center;
}
.compétences{
    color: white;
    font-family: var(--police-Noto);
}
.compétences ol{
    max-width: 60em;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1.5em;
    line-height: 2em;
}
.compétences li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.compétences-list img{
    height: 100px;
    width: 100px;
}

/* <=============== CONTACT ==============> */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-family: var(--police-Noto);
    background: -webkit-linear-gradient(300deg, #9e1947,#ac6115);
    background: linear-gradient(300deg, #9e1947,#ac6115);
}
.contact h2{
    color: white;
    display: flex;
    justify-content: center;
    font-family: var(--police-neon);
    font-size: 2.5em;
    border: 0.1em solid white;
    border-radius: 0.5em;
    padding: 0.2em;
    text-shadow: 0 0 1em #adadad;
    box-shadow: inset 0px 0px 10px 5px #adadad,
    0px 0px 30px 10px #adadad;
}
.contact-form{
    width: 900px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, auto);
}
.contact-form div{
    font-size: 2em;
}
#lastname--firstname, #object, #message{
    font-family: var(--police-Noto);
    font-size: 0.7em;
    padding: 8px;
    margin: 15px 0px 15px 0px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f1f1f1;
    border-radius: 15px;
    border: solid 1px black;
}
#lastname--firstname{
    width: 100%;
    height: 30px;
}
#object{
    width: 100%;
    height: 30px;
}
#message{
    width: 100%;
    height: 300px;
    resize: none;
}
.lastname--firstname{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/3 ;
}
.object{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/3 ;
}
.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/3 ;
}
#form-button{
    font-family: var(--police-Noto);
    font-size: 0.5em;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background: -webkit-linear-gradient(300deg, #9e1947,#ac6115);
    background: linear-gradient(300deg, #9e1947,#ac6115);
    border: solid 1px white;
}
.form-button{
    grid-column: 1/3 ;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-message{
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* <=============== FOOTER ==============> */

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: -webkit-linear-gradient(300deg, #521296,#1a0a3f);
    background: linear-gradient(300deg, #521296,#1a0a3f);
    color: white;
    font-family: var(--police-Noto);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 40px;
    height: 40px;
    margin: 30px 10px 10px 10px;
}
footer p{
    margin-bottom: 25px;
}